<!DOCTYPE html>

<html>
  <head>
    <title>Streaming video application </title>
  </head>
  <body>
	<h1>Please input the parameters (0 to 100): </h1>
	<form action = "https://adrianeight:9999/res" method = "POST">
		<table>
		<tr>
		  <td align="right">Brightness:</td>
		  <td align="left"><input type="text" name="brightness" value="1" /></td>
		</tr>
		<tr>
		  <td align="right">Blur:</td>
		  <td align="left"><input type="text" name="blur" value="0" /></td>
		</tr>
		 <tr>
		 <td></td>
		  <td align="right"><input type = "submit" value = "submit" /></td>
		</tr>
		</table>
	</form>
	<h1 style="text-align:center">{{text}}</h1>
    <div class="tenor-gif-embed" data-postid="20077844"
     data-share-method="host" data-aspect-ratio="2.13333"
     data-width="100%">
     <a href="https://tenor.com/view/3do-homm3-heroes3-heroes-of-might-and-magic-heroes-of-might-and-magic3-gif-20077844">3do Homm3 GIF</a>
     from <a href="https://tenor.com/search/3do-gifs">3do GIFs</a>
     </div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>    
  </body>
</html>