<!DOCTYPE>
<html>
<head>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align:center">xDDD Macie moj miecz!
	HEROES III RULES!!!</h1>
    <div class="tenor-gif-embed" data-postid="20077853"
     data-share-method="host" data-aspect-ratio="2.13333" data-width="100%">
    <a href="https://tenor.com/view/3do-homm3-heroes3-heroes-of-might-and-magic-heroes-of-might-and-magic3-gif-20077853">3do Homm3 GIF</a>from
    <a href="https://tenor.com/search/3do-gifs">3do GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>

</html>
